/* style.css */
body {
  display: grid;
  min-height: 100%;
  height: 820px;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 220px 1fr ;
  grid-template-areas: "nav nav"
                       "sidebar content ";
  /*background-color: #f1dfd1;*/
  /*background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 100%);*/
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  color: #03455d;
  font-family: Helvetica, Arial, SansSerif;
  margin:0;
  padding:0;
}
.iframe {
  overflow: hidden;
  display: block;
  margin:20px 0 20px;
  padding: 10px;
  background-color: #fcfaf8;
}
h1, h2, h3,
.h1, .h2 {
  font-family: "Helvetica Neue",Helvetica, Arial, SansSerif;
  font-weight: 500;
  color:#023446;
}

h2, .h2 {
  color: #0579a3;
}

.stateTitle {
  font-family: "Helvetica Neue";
  font-weight: 800;
  color: #157a4c;
  font-size: 20px;
}

#root {
  margin: 0
}

.nav {
  grid-area: nav;
  font-weight: bold;
  font-size: 20px;
  background-color: #023446;
  font-weight: 700;
  font-size: 20px;
  color: #5FCCC2;

  /*font-family: Arial, sans-serif;*/
}
.nav ul {
  margin: 0;
  padding: 15px 15px;
  color: #5FCCC2;
}
.nav ul li {
    display: inline-block;
    list-style: none;
    height: 100vh;
  }
.header_title {
    margin: 0 auto;
}
.main {
  grid-area: content;
  padding: 0 10px;
  height: 800px;
    margin: 0 auto;
}
.aside {
  grid-area: sidebar;
  /*background-color: #08AEEA;*/
  /*background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);*/
  padding:10px;
  font-size:14px;
}

.aside ul {
  margin:0;
  padding:0;
}

.aside li {
  list-style: none;
  margin:10px;
}

.avgLine {
  stroke-dasharray: 5,5;
}

/* map styles */
/* https://stackoverflow.com/questions/16918194/d3-js-mouseover-event-not-working-properly-on-svg-group */
/* The g element is just an empty container which cannot capture click events (see documentation for pointer-events property). */

.state-borders {
  fill: steelblue;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: all;
}
.state-borders:hover {
  opacity: .6;
  cursor: pointer;
}

#stateDropDown {
  margin-bottom:5px;
}

.axisLabel {
  font-size: 12px;
  font-weight: bold;
  color: #023446
}

.spending {
  font-weight:bold;
  fill: #19935b;
  /*fill: rgb(98,208,190);*/
  font-size: 24px;
}
.stateData {
  fill: "#023446";
}

.aside {
  margin-left:10px;
}
.aside p {
    margin:15px 0 5px;
    padding:0;
}
.aside ul {
    margin:0;
    padding:0
}
.aside ul li {
    margin:0;
    padding:2px 0 4px;
    line-height: 1.4em
}

a, a:link, .datalink a:visited{
  fill: #0579a3;
  text-decoration: none;
}
a:hover{

  fill: #03455d;

}
/* Fix flash of unstyled content, add style tag to html doc*/
html {
    visibility: visible;
    opacity: 1;
}

/* Resources
https://cssgradient.io/
css grids: https://medium.com/flexbox-and-grids/how-to-efficiently-master-the-css-grid-in-a-jiffy-585d0c213577
https://www.color-hex.com/color/08aeea
https://www.color-hex.com/color/2af598
https://convertingcolors.com/rgb-color-95_204_194.html

Shades of green:
#2af598
#25dc88
#21c479
#1dab6a
#19935b
#157a4c
#10623c
#0c492d
#08311e
#04180f
#000000

#08aeea
#079cd2
#068bbb
#0579a3
#04688c
#045775
#03455d
#023446
#01222e
#001117
#000000


 */